<header class="shadow-inner " th:fragment="navbar" >
    <div class="navbar" >
        <div class="navbar-start">
            <a href="/" class="btn btn-ghost text-xl "> The Glow Salon</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1 ">
                <li ><a href="">Home</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/salon/services">Book an Appointment</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="navbar-end px-6 ">
            <a href="" class="btn btn-primary rounded">Logout</a>
        </div>
    </div>
</header>